html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    background-image: url('../background.png');
    height: calc(100% - 60px);
    width: 100%;
}

.login-form {
    width: 400px;
    position: absolute;
    right: 300px;
    top: 270px;
}

.login-logo-div {
    text-align: center;
    height: 90px;
}

.login-logo {
    margin: 0 auto;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.login-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

.login-form label {
    color: #fff;
    display: inline-block;
    text-align: right;
    font-size: 18px;
}

.displynone {
    display: none;
}

.login-form-remember {
    display: flex;
    align-items: center;
}

    .login-form-remember label {
        font-size: 18px;
        cursor: pointer;
    }

.login-form-button {
    /*width: 100%;*/
    margin-top: 12px;
    margin-left:50px;
    width:100px;
}

.show-password {
    display: none;
}

.input-group {
    position: relative;
}

.input-icon {
    z-index: 99999;
    position: absolute;
    right: 12px;
    top: 2px;
}

.show-hidden {
    cursor: pointer;
    color: #000 !important;
    margin-bottom: 0;
}

.login-valid {
    margin-top: 30px;
}